{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main/main.css' %}">
        <title>Solar Energy</title>
    </head>
    <body>
        <div class="header" style="background-image: url({% static 'main/banner2.jpg' %})">
            <div class="header_logo">
                <a href="index.html"><img src="{% static 'main/default.svg' %}" width="100%" height="100%"></a>
            </div>
            <div class="header_right"></div>
        </div>
        <div class="nav_container">
            <div class="nav_button">
                Racks & Trackers
                <div class="dropdown-content">
                    <a href="#">TEST1</a><br>
                    <a href="#">TEST1</a><br>
                    <a href="#">TEST1</a>
                </div>
            </div>
            <div class="nav_button">
                PV Module
                <div class="dropdown-content">
                    <a href="#">Testing & Certification</a><br>
                    <a href="#">PV Rating</a>
                </div>
            </div>
            <div class="nav_button">
                PV Systems
                <div class="dropdown-content">
                    <a href="#">Monitoring & Inspection</a><br>
                    <a href="#">Performance Analysis</a><br>
                    <a href="#">Compare system</a><br>
                    <a href="#">Certification</a>
                </div>
            </div>
            <div class="nav_button">
                Data Analytics
                <div class="dropdown-content">
                    <a href="#">Module lifetime</a><br>
                    <a href="#">Energy prediction</a>
                </div>
            </div>
            <div class="nav_button">
                Cybersecurity
                <div class="dropdown-content">
                    <a href="#">What we are doing</a>
                </div>
            </div>
        </div>
        <div class="content_container">
            <div class="content_center">
                

<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Pellentesque quis enim eu arcu posuere mattis id sed tellus. Pellentesque pharetra justo nec velit posuere rhoncus. Praesent sed ipsum sed nisi faucibus elementum at nec massa. Aliquam a commodo enim, sed cursus leo. Donec mattis est augue, et convallis nisl maximus sit amet. In dapibus fermentum tempus. Sed aliquet sem sit amet ex convallis, at sodales urna tempus. Quisque dignissim imperdiet est. Quisque porta consequat blandit. Vestibulum velit tellus, finibus ut pharetra sed, imperdiet non dui. Praesent vestibulum enim vel mauris maximus, sit amet vulputate diam consectetur. Nulla urna tortor, mollis in enim a, euismod euismod mi. Etiam condimentum, massa quis pellentesque iaculis, elit nibh rhoncus nunc, id pharetra massa neque vel diam.
<br><br>
<strong>Mauris mollis</strong>, magna nec imperdiet porttitor, est sem congue nulla, a porta risus leo vel lacus. Ut felis lorem, congue tempus facilisis vel, pharetra at ipsum. Praesent nulla sapien, laoreet vitae purus ut, dapibus consequat orci. Pellentesque pellentesque nulla et tortor elementum, eu volutpat magna aliquet. Donec a metus malesuada, euismod nibh quis, pharetra ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris hendrerit metus vel tortor imperdiet sodales. Donec posuere commodo nisi luctus convallis. Ut vulputate molestie dolor, ac tristique nisl euismod sed. Mauris quis diam elit.
<br><br>
<strong>Maecenas lacinia velit sem</strong>, vitae venenatis nunc varius quis. Vestibulum urna massa, egestas ac orci sit amet, molestie hendrerit urna. Pellentesque dictum purus vitae enim congue, fermentum commodo mi sagittis. Proin cursus ornare imperdiet. Duis pellentesque turpis id libero fringilla pellentesque. Cras id metus eget sapien sagittis suscipit aliquet sed lacus. In hac habitasse platea dictumst. Fusce consequat ipsum non scelerisque euismod. Aenean efficitur, elit quis convallis mattis, lorem libero mattis tortor, sed dapibus est enim et velit. Sed ornare hendrerit interdum. Aliquam gravida ligula odio, id dapibus justo lacinia nec.
            </div>
            <div class="content_edge">
                <div class="nav_container">
                    <div class="nav_button nav_button_extra">
                        <a href="{% url 'registration' %}">Register</a>
                    </div>
                    <div class="nav_button nav_button_extra">
                        Login
                    </div>
                </div>
                <div class="ad_space"><br><br><strong>YOUR<br>AD<br>HERE</strong></div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_bottom_links">
                <a href="#">Site Map</a> | <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">About Us</a>
            </div>
        </div>

    </body>
</html>